.filter-container {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
}

.filter-label {
  font-size: 16px;
  font-weight: bold;
  color: #444;
}

.filter-input-container {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 300px;
  width: 100%;
}

.filter-input {
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.filter-input::placeholder {
  color: #8b949e;
}

.filter-input:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 0 2px rgba(13, 110, 253, 0.2);
  background-color: #fff;
}
