.btn {
  border: none;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}

.btn-primary {
  background-color: #0d6efd;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0b5ed7;
}

.btn-outline {
  background-color: transparent;
  border: 1px solid currentColor;
  color: currentColor;
}

.btn-outline:hover {
  background-color: currentColor;
  color: #fff;
}

.btn-outline-primary {
  color: #0d6efd;
  border-color: currentColor;
}

.btn-outline-dark {
  color: #212529;
  border-color: currentColor;
}

.btn-transparent-dark {
  background-color: transparent;
  color: #212529;
}

.btn-transparent-dark:hover {
  border: 1px solid #212529;;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

.btn-md {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.btn-lg {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
}

.btn-with-icon {
  display: flex;
  align-items: center;
  gap: 2px;
}
