.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 8px 0;
}

.header-container h2 {
  flex: 1;
}

.page-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  flex-direction: column;
}

.posts-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
}
