
.page-container{
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  flex-direction: column;
}

.posts-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
}
