.info {
  flex: 0 0 40%;
  position: relative;
  min-height: 100px;
  display: flex;
  align-items: flex-end;
}


.user-info-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding: 20px;
  padding-top: 3rem;
}


.button-container {
  display: flex;
  gap: 0.5rem;
  position: absolute;
  right: 20px;
  bottom: 10px;
}