
.info {
  flex: 0 0 40%;
  position: relative;
  min-height: 100px;
  display: flex;
  align-items: flex-end;
}

.post-info-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  margin: 3rem 0 2rem 0;
}

.button-container {
  display: flex;
  gap: 0.5rem;
  position: absolute;
  right: 20px;
  bottom: 3px;
}