.navbar {
  display: flex;
  background:#3a4150 ;
  padding: 10px 20px;
  margin: 0 auto;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.nav-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-menu .item {
  margin: 0 15px;
}

.nav-menu .item a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.nav-menu .item a:hover {
  color: #2258c3;
}
