.navbar {
  display: flex;
  background: #fff;
  padding: 5px 5px;
  box-shadow: 0px 5px 20px -17px rgba(0, 0, 0, 0.34);
  border-radius: 10px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  color: #333333;
}

.nav-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-menu .item {
  margin: 0 15px;
}

.nav-menu .item a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.nav-menu .item a:hover {
  color: #2258c3;
}
