.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
  min-height: 300px;
}

.loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 250px;
  width: 100%;
}