.accordion {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.accordion-item-header {
  width: 100%;
  display: flex;
  align-items: center;
  background: #fff;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
  border: 1px solid #e2e2e2;
  border-bottom: none;
}

.accordion-item-header h3 {
  padding: 0 1rem;
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: start;
}

.accorion-item-content {
  border: 1px solid #e2e2e2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
  border-bottom: 0;
}
