.accordion {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.accordion-item-header {
  width: 100%;
  display: flex;
  align-items: center;
  background: #fff;
}
.accordion-item-header h3 {
  padding: 0 1rem;
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: start;
}
