.accordion {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.accordion-item-header {
  width: 100%;
  display: flex;
}
.accordion-item-header h3 {
  padding: 20px;
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: start;
  background: #fff;
}
